name: TR PRO deploy

on:
  workflow_call:
    inputs:
      APP_NAME:
        type: string
        required: false
        default: ''
      APP_VERSION:
        type: string
        required: false
        default: ''
      LOCATION:
        type: string
        required: true
      DOCKER_REGISTRY:
        description: "Docker registry for helm chart"
        type: string
        required: false
        default: "docker-registry.trendagent.ru:5000"
    secrets:
      TOKEN:
        required: true
      DOCKER_REGISTRY_USER:
        required: true
      DOCKER_REGISTRY_PASSWORD:
        required: true
      KUBE_CONFIG:
        required: true

jobs:
  release:
    runs-on: [  docker-runner ]
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          repository: trend-dev/${{ inputs.APP_NAME }}
          fetch-depth: 0
          token: ${{ secrets.TOKEN }}
          ref: ${{ github.ref_name }}

      - name: Check
        run: |
          echo ${{ inputs.APP_NAME }}
          echo ${{ inputs.APP_VERSION }}

      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"

      - name: Install Helm
        uses: azure/setup-helm@v4
        with:
          version: v3.14.0

      - name: Add Kube config
        shell: bash
        run: |
          mkdir -p ~/.kube
          echo ${{ secrets.KUBE_CONFIG }} | base64 -d > ~/.kube/config

      - name: Update Chart
#        uses: Slidem/inplace-envsubst-action@v1.2.2
        uses: trend-dev/inplace-envsubst-action@main
        env:
          APP_NAME: ${{ inputs.APP_NAME }}
          APP_VERSION: ${{ inputs.APP_VERSION }}
        with:
          working-directory: tools/charts/${{ inputs.APP_NAME }}
          fail_on_missing_variables: "true"
          search_input: |
            {
            "patterns": [".+.yaml"],
            "files": ["Chart.yaml"],
            "depth": 1
            }

      - name: Upgrade env
        shell: bash
        run: |
          helm registry login -u ${{ secrets.DOCKER_REGISTRY_USER }} -p ${{ secrets.DOCKER_REGISTRY_PASSWORD }} ${{ inputs.DOCKER_REGISTRY }}
          cd ./tools/charts/
          helm upgrade ${{ inputs.APP_NAME }} ./${{ inputs.APP_NAME }} --install --namespace ${{ inputs.LOCATION }}
