name: Dry run chart
run-name: Dry run chart from ${{ github.ref_name }} branch

on:
  workflow_call:
    inputs:
      APP_NAME:
        type: string
        required: true
      APP_VERSION:
        type: string
        required: true
      DOCKER_REGISTRY:
        description: "Docker registry for helm chart"
        type: string
        required: false
        default: "docker-registry.trendagent.ru:5000"
      LOCATION:
        type: string
        required: true
    secrets:
      KUBE_CONFIG:
        required: true
      DOCKER_REGISTRY_USER:
        required: true
      DOCKER_REGISTRY_PASSWORD:
        required: true

jobs:
  dry_run_chart:
    runs-on: [ self-hosted, docker-runner ]
    steps:

      - name: Install Helm
        uses: azure/setup-helm@v3
        with:
          version: v3.14.0

      - name: Log into Docker registry
        uses: docker/login-action@v3
        with:
          registry: ${{ inputs.DOCKER_REGISTRY }}
          username: ${{ secrets.DOCKER_REGISTRY_USER }}
          password: ${{ secrets.DOCKER_REGISTRY_PASSWORD }}

      - name: Add Kube config
        shell: bash
        run: |
          mkdir -p ~/.kube
          echo ${{ secrets.KUBE_CONFIG }} | base64 -d > ~/.kube/config

      - name: Dry run
        shell: bash
        run: |
          helm registry login -u ${{ secrets.DOCKER_REGISTRY_USER }} -p ${{ secrets.DOCKER_REGISTRY_PASSWORD }} ${{ inputs.DOCKER_REGISTRY }}
          helm pull oci://${{ inputs.DOCKER_REGISTRY }}/helm-charts/${{ inputs.APP_NAME }} --version ${{ inputs.APP_VERSION }}  --untar
          helm install ${{ inputs.APP_NAME }}  ./${{ inputs.APP_NAME }} --dry-run -n ${{ inputs.LOCATION }}
