name: Upload icons to CDN and publish npm

on:
  workflow_call:
    secrets:
      TOKEN:
        required: true
      NODE_AUTH_TOKEN:
        required: true
      AWS_ACCESS_KEY_ID:
        required: true
      AWS_SECRET_ACCESS_KEY:
        required: true
      AWS_DEFAULT_REGION:
        required: true

env:
  # AWS auth
  AWS_ACCESS_KEY_ID: '${{ secrets.AWS_ACCESS_KEY_ID }}'
  AWS_SECRET_ACCESS_KEY: '${{ secrets.AWS_SECRET_ACCESS_KEY }}'
  AWS_DEFAULT_REGION: '${{ secrets.AWS_DEFAULT_REGION }}'
  REQUESTS_CA_BUNDLE: "/etc/ssl/certs/ca-certificates.crt"
  NODE_AUTH_TOKEN: ${{ secrets.NODE_AUTH_TOKEN }}

jobs:
  build:
    runs-on: [  docker-runner ]
    steps:
      - uses: actions/checkout@v4
        with:
          token: ${{ secrets.TOKEN }}

      - uses: actions/setup-node@v4
        with:
          node-version: 20
          registry-url: 'https://npm.pkg.github.com'

      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"

      - name: Install dependencies
        run: npm run setup

      - name: Generate typification
        run: npm run generate-icons-type

      - name: install AWS cli
        run: |
          sudo apt update && sudo apt install awscli -y
        shell: bash

      - run: aws --endpoint-url='https://s3.ru-1.storage.selcloud.ru' s3 sync icons/svg s3://ta_modules/icons/svg/
        shell: bash

      - name: Publish npm
        run: npm publish

      - name: push generated types
        run: |
          git add src/components/Icon/types.ts 
          git commit -m 'types.ts has been updated' src/components/Icon/types.ts 
          git push https://github.com/${{ github.repository }} ${{ github.ref_name }} --force
